@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@500&display=swap');


.mainContainer {
  display: flex;
  background-color: #BEC0CA;
}

.sidebarContainer {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 230px;
  height: 1140px;
  padding:0px 20px;
  background-color: #fff;
}

.sidebarLogo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.sidebarLogoTitle {
  color: var(--black-60, #45464E);
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.sidebarMiddleContainer {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  height: 100vh;
}

.sidebarMiddleMainLogo {
  display: flex;
  align-items: center;
  display: flex;
  width: 185px;
  padding: 16px 20px;
  gap: 20px;
  border-radius: 12px;
  background: var(--primary-100, #5570F1);
}

.sidebarMiddleLogo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.sidebarMiddleMainTitle a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.sidebarMiddleTitle {
  color: var(--black-50, #53545C);
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sidebarMiddleTitle a {
  text-decoration: none;
  color: var(--black-50, #53545C);
}

.sidebarMiddleTitle2 {
  border-radius: 50%;
  background: var(--secondary-100, #FFCC91);
  padding: 0px 18px;
  color: var(--black-50, #53545C);
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sidebarMiddleTitle3 {
  border-radius: 50%;
  background: var(--secondary-100, #FFCC91);
  padding: 0px 16px;
  color: var(--black-50, #53545C);
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.sidebarBottomContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 185x;
}

.sidebarBottomContainer2 {
  border-radius: 16px;
  background: rgba(255, 204, 145, 0.20);
  padding: 11px 16px;
}


.sidebarBottomLogo {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 185px;
  padding: 11px 16px;
  border-radius: 16px;
  background: rgba(94, 99, 102, 0.10);
}

.sidebarBottomLogo2{
  display: flex;
  align-items: center;
  gap: 12px;
}

.sidebarBottomTitle {
  color: var(--black-100, #1C1D22);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sidebarBottomTitle2 {
  color: var(--black-40, #6E7079);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: calc(100% - 230px);
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  background-color: #FFF;
  padding: 3px 20px;
}

.navbarContainer p {
  color: var(--black-60, #45464E);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.rightnavbarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.rightnavbarContainer2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  border-radius: 8px;
  background: var(--secondary-20, #FEF5EA);
  padding: 5px 12px;
}

.rightnavbarContainer2 p {
  color: var(--black-100, #1C1D22);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.navbar_Img {
  border-radius: 8px;
}


.summarydashboardContainer {
  display: flex;
  justify-content: space-between;
  margin: 0px 10px;
}

.summaryMainContainer {
  background-color: #fff;
  width: 280px;
  padding: 0px 10px;
  border-radius: 10px;
}

.summaryMainContainer2 {
  background-color: #fff;
  width: 320px;
  padding: 0px 10px;
  border-radius: 10px;
}

.summaryContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  margin: 20px 0px;
}

.summaryContainer2 {
  display: flex;
  gap: 20px;
  align-items: center;
  align-self: stretch;
}

.summaryContainer2 p {
  color: var( #8B8D97);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.summaryDaysContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.summaryContainer2 h3 {
  color: var(#45464E);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.summaryContainer2 span {
  color: #519C66;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.summaryContainer3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.summaryContainer3 p {
  color: var(#8B8D97);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.summaryContainer3 h3 {
  color: var(#45464E);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.summaryDaysContainer p {
  color: #BEC0CA;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.summaryDaysContainer h3 {
  color: var( #45464E);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.summaryImgContainer {
  display: flex;
  width: 36px;
  height: 36px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: rgba(85, 112, 241, 0.12);
}

.summaryImgContainer2 {
  display: flex;
  width: 36px;
  height: 36px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: rgba(255, 204, 145, 0.16);
}

.dashboardMainContainer {
  margin-left: 13px;
}

.dashboardContainer {
  display: flex;
  gap: 10px;
}

.barChartContainer {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 280px;
  padding: 0px 10px 0px 10px;
  border-radius: 10px;
}

.barChartTopContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.barChartTopContainer2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.barChartTopContainer p {
  color: var(--black-60, #45464E);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.barChartTopContainer2 p {
  color: var(--black-10, #BEC0CA);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.barChartMidContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.chartColorContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.chartOne{
  width: 8px;
  height: 8px;
  border-radius: 6px;
  background: var(--primary-100, #5570F1);
}

.chartTwo {
  width: 8px;
  height: 8px;
  border-radius: 6px;
  background: var(--primary-50, #97A5EB);
}

.chartThree {
  width: 8px;
  height: 8px;
  border-radius: 6px;
  background: var(--secondary-100, #FFCC91);
}


.barChartMidContainer p {
  color: var(--black-20, #A6A8B1);
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.barChartImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}


.barChartMainContainer2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.barChartImg {
  display: flex;
  width: 36px;
  height: 36px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.16);
}

.barChartContainer2 {
  width: 280px;
  padding: 15px;
  border-radius: 12px;
  background: var(--primary-100, #5570F1);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.barChartDescContainer2 {
  display: flex;
  gap: 40px;
}

.barChartDescContainer2 p {
  color: var(--white, #FFF);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.barChartDescContainer2 h3 {
  color: var(--white, #FFF);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.barChartMainContainer3 {
  width: 280px;
  padding: 15px;
  border-radius: 12px;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.barChartContainer3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.barChartTopContainer3 {
  display: flex;
  gap: 20px;
  align-items: center;
}

.barChartTopContainer3 p {
  color: var(--black-10, #BEC0CA);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.barChartImg2 {
  display: flex;
  width: 36px;
  height: 36px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: rgba(255, 204, 145, 0.16);
}

.barChartDescContainer3 {
  display: flex;
  gap: 40px;
}

.barChartDescContainer3 p {
  color: var(--black-30, #8B8D97);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Desc3 p{
  color:#CC5F5F;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.barChartDescContainer3 h3 {
  color: var(--black-60, #45464E);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.barChartDescContainer3 span {
  color: var(--action-green, #519C66);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.dashboardSummaryContainer {
  background-color: #fff;
  margin-top: 15px;
  border-radius: 10px;
  padding: 10px 40px;
  width: 545px;
}

.orderDescMainContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.orderDescContainer {
  display: flex;
  align-items: center;
  gap: 40px;
}

.orderDescContainer p {
  color: var(--black-60, #45464E);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.salesContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: rgba(85, 112, 241, 0.08);
  padding: 1px 15px;
}

.salesContainer p {
  color: var(--primary-100, #5570F1);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.salesContainer2 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.salesContainer2 p {
  color: var(--black-100, #1C1D22);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}



.salesRateMainContainer {
  display: flex;
  margin-top: 25px;
  gap: 25px;
}

.rateNumberContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.rateNumberContainer p {
  color: var(--black-20, #A6A8B1);
  text-align: right;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.salesRateContainer {
  display: flex;
  align-items: center;
  gap: 23px;
  text-align: center;
}

.salesRateContainer p {
  color: var(--black-10, #BEC0CA);
  text-align: center;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.dashboardMainOrderContainer {
  background-color: #fff;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dashboardMainOrderTitleContainer p{
  color: var(--black-60, #45464E);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.dashboardOrderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #F1F3F9;  
}

.dashboardOrderContainer2 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dashboardOrderContainer2 p {
  color: var(--black-60, #45464E);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.dashboardOrderContainer2 h3 {
  color: var(--black-80, #33343A);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.dashboardOrderContainer3 p {
  color: var(--black-20, #A6A8B1);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.dashboardOrderContainer3 h3 {
  border-radius: 8px;
  background: rgba(245, 126, 119, 0.12);
  color: var(--action-red, #CC5F5F);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.dashboardOrderContainer4 p {
  color: var(--black-20, #A6A8B1);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.dashboardOrderContainer4 h3 {
  border-radius: 8px;
  background: rgba(50, 147, 111, 0.12);
  color: var(--action-green, #519C66);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}